
global:
  namespace: trading

trading:
  replicaCount: 1
  resources:
    limits:
      cpu: 500m
      memory: 512Mi

grafana:
  service:
    type: NodePort
    nodePort: 30300
  adminUser: admin
  adminPassword: admin
  nodeSelector:
    role: monitor

loki:
  grafana:
    enabled: false
  prometheus:
    enabled: false
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
  nodeSelector:
    role: monitor

promtail:
  config:
    lokiAddress: http://loki.trading.svc.cluster.local:3100/loki/api/v1/push
